body{
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65), rgba(0,0,0,0.38)), url("bed.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h3{ position: -webkit-sticky;
    left: 10%;
    top: 20%;
    color: orangered;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase; text-shadow: 1px 1px 1px;
    }
    h2{
        position: -webkit-sticky;
        left: 10%;
        top: 20%;
        color: red(97, 37, 97);
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase; text-shadow: 1px 1px 1px;  
    }
    h1{
        position: -webkit-sticky;
        left: 10%;
        top: 20%;
        color: purple;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase; text-shadow: 1px 1px 1px;  
    }